<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migrant Worker Tracking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Migrant Worker Tracking System</h1>
            <nav>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <p> link:</p><br>
            <a href="https://github.com/Midhun-c/worker/tree/main"> git hub repo </a>
            <p>&copy; 2024 Migrant Worker Tracking System</p>
        </footer>
    </div>
</body>
</html>
